.card {
  padding: 2rem 2rem;
  margin: 1rem 1rem;
  border-radius: 5px;
  background:
    linear-gradient(
        to bottom,
        oklch(0.1 0.2 240 / 0.95),
        oklch(0.1 0.2 240 / 0.95)
      )
      padding-box,
    conic-gradient(from 0deg in oklch longer hue, oklch(1 0.37 0) 0 0)
      border-box;

  border: 5px solid transparent;
}

footer {
  display: flex;
  justify-content: space-between;
}
